.headerImg {
    display: none;
}

section {
    width: 100%;
}

section p {
    width: 80%;
    margin: 0 auto;
}

section p:first-child {
    margin-top: 2rem;
}

section p:nth-child(4) {
    margin-bottom: 2rem;
}

section img {
    width: 80%;
    margin: 0 auto;

    border-radius: 20px;  
}

.baseline {
    width: 85%;
    margin: 3rem auto;

    border: 1px solid var(--orange);
}

.featured {
    background-color: var(--orange);
    color: black;

    font-size: 24px;
    margin: 3rem auto;
}

.imgContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    margin: 3rem auto;
}

.imgContainer img {
    height: 300px;
    width: 300px;

    margin-bottom: 2rem;
}

@media (min-width: 768px) {

    .imgContainer img {
        height: 225px;
        width: 225px;
    }

    .featuredImg {
        height: 360px;
        width: 400px;

        margin-top: 1rem;
    }

    .headerImgMobile {
        height: 360px;
        width: 400px;
    }
}

@media (min-width: 1024px) {

    .headerImgMobile {
        display: none;
    }

    .headerImg {
        display: block;
    }

    .featuredImg {
        height: 450px;
        width: 500px;
    }

    .imgContainer img {
        height: 300px;
        width: 300px;
    }

    section p, section h1, section h2 {
        font-size: 26px;
    }
}

@media (min-width: 1280px) {

    .headerImg {
        height: 400px;
        width: 850px;
    }

    .featuredImg {
        height: 420px;
        width: 550px;
    }

    .imgContainer img {
        height: 350px;
        width: 350px;
    }
}