/* Lays out the menu page content vertically */
.main {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: flex-start;
}

.header {
	background-color: black;
	color: var(--color-light);
	padding-bottom: 2rem;
}

.title {
	font-size: 35px;
	text-align: center;
	padding: 1rem 0rem;
}

.subtitle {
	text-align: center;
	padding-top: 1rem;
}

.menuSection {
	width: 90%;
	margin: 0 auto;
}

.foodTitle {
	font-size: 28px;
}

.name {
	font-size: 22px;
}

.description {
	font-size: 18px;
	margin-top: 1rem;
}

.price {
	font-size: 22px;
}

.itemContainer {
	margin: 1rem 0rem;
	padding: 1rem;
	background-color: white;
	border-radius: 15px;
}

.itemContainer div {
	display: flex;
	justify-content: space-between;
}

.foodTitle {
	margin: 1rem 0rem;
}